body {
background: #141414;
margin: 0;
font-family: Trebuchet MS, Arial, Times New Roman;
text-align: center;
}

#wrapper { 
 margin: 60px auto;
  width: 900px; 
  height: 0px;
  background: white;
 }

 #header { 
 background: #141414;
 height: 200px;
 width: 900px;

 }

 .header p {
   font-size: 15px;
 }

 .car {
width: 175px;
padding-top: 10px;
padding-left: 10px;
margin:0 auto ;
display: flex;
margin-top: 5px


 }

 .carcont {
width: 550px;
height: 300px;

border: 3px solid white;
 }

 
 

 #footer { 
 background: #838283;
 height: 180px;
 width: 99%;
  margin: 0;
 }
 .text {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
    
    font-family: Bradley Hand, cursive;
   
  }

 .carcont {
  display: flex;
  justify-content: center;
  margin: 0px auto;  
 }
 .text p {
   padding-bottom: 10px;
   color: white;
   font-family: Bradley Hand, cursive;
  margin: auto;
  font-size: 20px;
  text-align: left;
 }
  .text h1  {
   font-size: 15px;
   font-weight: normal;
   color: white;
   font-family: Bradley Hand, cursive;

 }


.zagol {
  font-family:Comic Sans MS, Comic Sans, cursive;
  font-size: 25px;
  color: white;
  text-align: center;
}

.text h2{
  color: white;
  font-family: Bradley Hand, cursive;
  text-align: center;

}

.salon{
  width: 650px;
  height: 350px;
  border: 3px solid white;
}
.tuda{
  width: 650px;
  height: 350px;
}



.ter {
  margin: 0; 
  padding: 25px; 
   font-size: 23px;
  
}
.ter li{
  display: inline;
  margin-right: 10px;
  padding: 3px;
}
a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 10px;
  font-family: Bradley Hand, cursive;

}

.carcont2{
  width: 850px;
}
.zena{
  font-size: 10px;
}
.pod{
  background: #e6e6e6;
  width: 100%;
}


.carousel-wrapper{
  height:400px;
  position:relative;
  width:700px;
  margin:0 auto;
  background: url();
  
}

.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
  margin: auto;
}

.arrow{
  border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 20px;
}

.arrow-prev{
  left:-1px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);

}

.arrow-next{
  right:-40px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);

  }


/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3,#item-4:target ~ .item-4, #item-5:target ~ .item-5, #item-6:target ~ .item-6, #item-7:target ~ .item-7 {
    z-index: 3;
    opacity: 1;
  }
}
.back{
  background: black;
  height: 200px;
  width: 900px;
}
.gal{
  width: 500px;
  height: 320px;
}
.gall {
display: flex;
justify-content: center;

 }
 .galll {
margin: 20px;
border: 3px solid white;
}

